.snackbar {
	list-style: none;
	padding: 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 2rem;
	z-index: 11;

	&__item {
		padding-bottom: 1rem;
		min-width: 15rem;
		max-width: calc(80vw - 4rem);

		// @extend %pop;

		// @include animIteration(5);
	}
}
