<ul class="table table_sortable table_mode_list">
    <li class="table__row table__row_head">
        {{> molecules-tableHead }}
    </li>
    <li class="table__row">
        {{> molecules-tableRowItem }}
    </li>
    <li class="table__row">
        {{> molecules-tableRowItem }}
    </li>
    <li class="table__row">
        {{> molecules-tableRowItem }}
    </li>
    <li class="table__row">
        {{> molecules-tableRowItem }}
    </li>
</ul>
{{> molecules-paginate }}