.hero-home {
    display: grid;
    min-height: 100vh;
    margin-bottom: $globalMarginBottom;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "login"
    "presentation"
    "form";
    @include breakpoint(tablet-landscape-up) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "login login"
        "presentation form";
    }
    @include breakpoint(desktop-up) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "presentation login"
        "presentation form";
    }
    &__presentation {
        grid-area: presentation;
        background: $blue;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        svg {
            height: 6rem;
            fill: white;
            margin-bottom: 2rem;
            @include breakpoint(tablet-landscape-up) {
                height: 8rem;
                margin-bottom: 0;
            }
        }
        img {
            // height: 6.5rem;
            margin-bottom: 2rem;
            @include breakpoint(tablet-landscape-up) {
                // height: 6.5rem;
                margin-bottom: 0;
            }
        }
    }
    &__title {
        padding-left: 2rem;
        border-left: 4px solid white;
        align-self: center;
        @extend h3;
        font-size: spToRem(34);
        & > * {
            @extend .typo;
            display: block;
        }
        @include breakpoint(tablet-landscape-up) {
            font-size: spToRem(48);
        }
    }
    &__login {
        grid-area: login;
        background: white;
        text-align: right;
        min-height: 6.5rem;
        .button {
            margin-bottom: 0;
        }
    }
    &__form {
        grid-area: form;
        padding: 2rem;
        h1,
        h2,
        h3,
        h4 {
            @extend h4;
            margin: 0 0 1rem 0;
        }
        display: flex;
        align-items: center;
    }
    &__covered {
        padding: 2rem;
        @extend .cover;
        & > * {
            position: relative;
            z-index: 2;
        }
    }
    &__cover {
        @extend .cover__img;
        opacity: 0.24;
    }
}
