// Vars
// @import "./node_modules/sass-material-colors/sass/sass-material-colors";

// Color Define
$darkRed: #810d1f;
$red: #bf2336;
$blue: #000e25;
$grey: #333a45;
$lightBlue: #a2c9e9;
$green: #23bf44;
$white: #f5f5f5;

// Translate
$colorPrimary: $blue;
$colorSecondary: $red;
$colorGrey: $grey;
$colorSuccess: $green;
$colorDanger: $red;
