@mixin scrollbar() {
    /* width */
    ::-webkit-scrollbar {
        width: calc(.5rem + 4px);
        height: calc(.5rem + 4px);
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: none;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: lightblue;
        border-radius: 10px;
        border: 2px solid rgba($color: white, $alpha: .5);
        &:hover {
            background: rgba($color: $grey, $alpha: .5);
        }
    }
}
