<div class="titling">
    <h2 class="titling__title">Les projets les plus proches du votre</h2>
    <div class="titling__subtitle">
        Ces projets se situent dans la régions de Paris, sont à vendre, sont lumineux, posséde au minimum 2 chambres et d'une taille minimum de 150m²
    </div>
</div>