<ul class="grid grid_col_4 grid_col-sm_1 grid_col-md_2 grid_col-lg_3 grid_col-xl_4 grid_col-xxl_5 list list_no_style list_no_margin list_no_padding list_link">
    <li>
        <a href="#">
            <i class="fa fa-phone"></i> Raccordement Téléphone
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fab fa-internet-explorer"></i> Fibre optique
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-lightbulb"></i> Plus lumineux
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-plus"></i> Plus grand
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-minus"></i> Plus petit
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-euro-sign"></i> Plus cher
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-bullseye"></i> Plus proche
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-arrow-left"></i> Plus loin
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-list"></i> Plus spacieux
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-list-alt"></i> Plus de chambre
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-list-ol"></i> Plus de pièces communes
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fab fa-windows"></i> Plus vitré
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-building"></i> Plus prés d'une école
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-hospital"></i> Plus prés d'un hopital
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-lock"></i> Plus sécurisé
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-universal-access"></i> Plus de finitions
        </a>
    </li>
</ul>