<section class="market-enter">
    <article class="cover market-enter__panel market-enter__panel_discover">
        <img src="https://placeimg.com/1000/600/arch" alt="" class="cover__img">
        <h2 class="market-enter__title">
            Réaliser le projet de ses rêves c’est un jeu d’enfant quand on sait comment
        </h2>
        <div class="market-enter__text">
            <p>
                Toutes les astuces et outils de l’agent immobilier, pour valoriser votre bien, organiser ses visites, visiter, se poser les bonnes questions, réussir son achat, acheter et vendre au prix du marché.
            </p>
            <ul class="market-enter__list market-enter-list">
                <li class="market-enter-list__item">Vous gérez la promotion de votre bien comme un véritable agent immobilier, nous gérons l’aspect légal.</li>
                <li class="market-enter-list__item">L’agence et Moi en toute transparence : Nous vous transmettons les compétences de l’agent immobilier.</li>
                <li class="market-enter-list__item">L’agence et moi, disponibilité, relation privilégiée et un conseiller dédié, disponible pour vous chez vous, au boulot, au shopping et en vacances.</li>
                <li class="market-enter-list__item">Payez ce que vous « consommez » ! Un mandat exclusif proche de vos préoccupations.</li>
            </ul>
        </div>
        <a href="#" class="market-enter__action button button_link button_color_white">Découvrir la plateforme <i class="fa-arrow-right"></i></a>
    </article>
    <article class="cover market-enter__panel market-enter__panel_advices">
        <img src="https://placeimg.com/1000/400/arch" alt="" class="cover__img">
        <h2 class="market-enter__title">
            Jamais seul, grâce à notre communauté active
        </h2>
        <p class="market-enter__text">
            En plus d'un accompagnement sur mesure, notre communauté active vous propose ses conseils
        </p>
        <a href="#" class="market-enter__action button button_link button_color_white">Espace conseils <i class="fa-arrow-right"></i></a>
    </article>
    <article class="cover market-enter__panel market-enter__panel_feedback">
        <img src="https://placeimg.com/1000/450/arch" alt="" class="cover__img">
        <h2 class="market-enter__title">
            Qui mieux que vous pour parler de votre projet ?
        </h2>
        <p class="market-enter__text">
            Vous serez donc votre propre agent, nous vous formerons et interviendrons de la négociation à la réalisation définitive de votre achat ou de votre vente.
        </p>
        <a href="#" class="market-enter__action button button_link button_color_white">Témoignages <i class="fa-arrow-right"></i></a>
    </article>
</section>