<div class="agenda">
    <div class="agenda__actions">
        <button class="agenda__icon agenda__icon_prev"></button>
        <div class="agenda__displayed-month">
            Juillet 2018
        </div>
        <button class="agenda__icon agenda__icon_next"></button>
    </div>
    <div class="agenda__calendar calendar">
        <span class="calendar__item calendar__item_day">Lundi</span>
        <span class="calendar__item calendar__item_day">Mardi</span>
        <span class="calendar__item calendar__item_day">Mercredi</span>
        <span class="calendar__item calendar__item_day">Jeudi</span>
        <span class="calendar__item calendar__item_day">Vendredi</span>
        <span class="calendar__item calendar__item_day">Samedi</span>
        <span class="calendar__item calendar__item_day">Dimanche</span>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">25</span></div>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">26</span></div>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">27</span></div>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">28</span></div>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">29</span></div>
        <div class="calendar__item calendar__item_passed calendar__item_prev"><span class="calendar__content">30</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">1</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">2</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">3</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">4</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">5</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">6</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">7</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">8</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">9</span></div>
        <div class="calendar__item calendar__item_passed"><span class="calendar__content">10</span></div>
        <button class="calendar__item calendar__item_select calendar__item_today"><span class="calendar__content">11</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">12</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">13</span> <span class="calendar__planned"></span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">14</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">15</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">16</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">17</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">18</span> <span class="calendar__planned"></span><span class="calendar__planned"></span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">19</span> <span class="calendar__planned"></span></button>
        <div class="calendar__item calendar__item_closed"><span class="calendar__content">20</span></div>
        <div class="calendar__item calendar__item_closed"><span class="calendar__content">21</span></div>
        <div class="calendar__item calendar__item_closed"><span class="calendar__content">22</span></div>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">23</span></button>
        <div class="calendar__item calendar__item_closed"><span class="calendar__content">24</span></div>
        <div class="calendar__item calendar__item_closed"><span class="calendar__content">25</span></div>
        <div class="calendar__item calendar__item_selected"><span class="calendar__content">26</span></div>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">27</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">28</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">29</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">30</span></button>
        <button class="calendar__item calendar__item_select"><span class="calendar__content">31</span></button>
        <button class="calendar__item calendar__item_select calendar__item_next"><span class="calendar__content">1</span></button>
        <button class="calendar__item calendar__item_select calendar__item_next"><span class="calendar__content">2</span></button>
        <button class="calendar__item calendar__item_select calendar__item_next"><span class="calendar__content">3</span></button>
        <button class="calendar__item calendar__item_select calendar__item_next"><span class="calendar__content">4</span></button>
        <button class="calendar__item calendar__item_select calendar__item_next"><span class="calendar__content">5</span></button>
    </div>
</div>