<div class="sidebar-project">
    {{> organisms-userBig }}
    <div class="visio">

    </div>
    <div class="sidebar-project__container grid grid_col_2">
        <div class="subtitle">
            Progression 2/4
        </div>
        <div class="grid__child_justify_end body">
            Temps écoulé 07min 53sec
        </div>
    </div>
    <div class="sidebar-project__container">
        <ul class="list list_big list_no_margin list_no_padding list_no_style">
            <li class="list__item list__item_valid">
                <i class="fa fa-check-circle"></i>
                Information générales
            </li>
            <li class="list__item list__item_valid">
                <i class="fa fa-check-circle"></i>
                Documents éléctroniques
            </li>
            <li class="list__item">
                <i class="fa fa-info-circle"></i>
                Préférences projet
            </li>
            <li class="list__item">
                <i class="fa fa-info-circle"></i>
                Mandat d'exclusivité
            </li>
        </ul>
    </div>
    <div class="sidebar-project__container">
        <button class="button button_width_full" disabled>
            Voir mon profil
        </button>
    </div>
</div>