<ul class="downloads">
    <li class="downloads__item downloads__item_valid">
        <div class="downloads__title">
            Mandat d'exclusivité entre Kévin Palade et L'agence et moi
        </div>
        <div class="downloads__infos">
            1.21Mo - PDF
        </div>
    </li>
    <li class="downloads__item">
        <div class="downloads__title">
            Mandat d'exclusivité entre Kévin Palade et L'agence et moi
        </div>
        <div class="downloads__infos">
            1.21Mo - PDF
        </div>
    </li>
    <li class="downloads__item downloads__item_disabled">
        <div class="downloads__title">
            Mandat d'exclusivité entre Kévin Palade et L'agence et moi
        </div>
        <div class="downloads__infos">
            1.21Mo - PDF
        </div>
    </li>
</ul>