<ul class="next-visit">
    {{# listitems.seven }}
    <li class="next-visit__item">
        <a href="#" class="next-visit__link">
            <div class="next-visit__context">
                Visite de Quentin
            </div>
            <div class="next-visit__date">
                Le 06-08-18 à 16h45 et 10min
            </div>
        </a>
    </li>
    {{/ listitems.seven }}
</ul>