<ul class="messages">
    <li class="messages__item">
        {{> molecules-Time }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-messageMe }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-messagePlan }}
    </li>
    <li class="messages__item">
        {{> molecules-messageTime }}
    </li>
    <li class="messages__item">
        {{> molecules-messageDoc }}
    </li>
    <li class="messages__item">
        {{> molecules-messageMe }}
    </li>
    <li class="messages__item">
        {{> molecules-messageDocMe }}
    </li>
    <li class="messages__item">
        {{> molecules-messageMe }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-messageTime }}
    </li>
    <li class="messages__item">
        {{> molecules-messageImgMe }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-messageMe }}
    </li>
    <li class="messages__item">
        {{> molecules-messageMe }}
    </li>
    <li class="messages__item">
        {{> molecules-messageImg }}
    </li>
    <li class="messages__item">
        {{> molecules-messageEvent }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
    <li class="messages__item">
        {{> molecules-messageTime }}
    </li>
    <li class="messages__item">
        {{> molecules-message }}
    </li>
</ul>