<button class="button button_link button_color_red">
    Archiver la conversation
</button>
<div class="subtitle-2">
    Points communs
</div>
<ul class="grid grid_col_2 list list_no_style list_no_margin list_no_padding list_link">
    <li>
        <a href="#">
            <i class="fa fa-phone"></i> Raccordement Téléphone
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fab fa-internet-explorer"></i> Fibre optique
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-lightbulb"></i> Plus lumineux
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-plus"></i> Plus grand
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-minus"></i> Plus petit
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-euro-sign"></i> Plus cher
        </a>
    </li>
</ul>
<div class="subtitle-2">
    Informations
</div>
<ul class="list list_no_style list_no_margin list_no_padding list_link">
    <li>
        Projet :
        <a href="#">Superbe Loft à Paris, spacieux et lumineux</a>
    </li>
    <li>
        Planification démarrée le : 02 aout 2018 à 15h41
    </li>
    <li>
        Rendez-vous planifié : 06 aout 2018 16h30
    </li>
</ul>
<div class="subtitle-2">
    Documents échangés (8)
</div>
{{> organisms-gallery }} {{> organisms-downloads }}