<div class="cookie-overlay">
    <p>
        CE SITE UTILISE DES COOKIES<br/>
        L'agence et Moi utilise des cookies pour assurer le bon fonctionnement et la sécurité de nos sites.<br/>
        Ils nous permettent de vous proposer la meilleure expérience possible.<br/>
        En cliquant sur Accepter, vous consentez à l'utilisation de ces cookies.<br/>
    </p>
    <button class="button button_color_red">Accepter</button>
</div>