<div class="done">
        <div class="done__brand">
            {{> atoms-logotype }}
        </div>
        <div class="done__baseline">
            Gérez votre projet<br/>depuis votre canapé.
        </div>
        <div class="done__title">
            Vendu
        </div>
        <div class="done__infos">
            00 00 123 123 123 <br />
            adresseemail@domain.com
        </div>
    </div>