<header class="main-header">
    <h1 class="main-header__logo">
        <a href="{{link.pages-homepage}}">
            {{> atoms-logo }}
            <span>L'agence et moi</span>
        </a>
    </h1>
    {{> molecules-mainSearch }}
    <button class="main-header__collapse" onclick="this.parentNode.classList.toggle('main-header_active')"></button>
    <nav class="main-header__nav">
        <ul class="main-nav">
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">Conseils</a>
            </li>
            <li class="main-nav__item">
                <a href="{{link.pages-search}}" class="main-nav__link main-nav__link_active">Projets</a>
            </li>
            <li class="main-nav__item">
                <a href="{{link.pages-visit}}" class="main-nav__link">
                    Visites <span class="badge badge_color_red">5</span>
                </a>
            </li>
            <li class="main-nav__item">
                <a href="{{link.pages-suggest}}" class="main-nav__link">
                    Propositions personalisées
                    <span class="badge badge_color_red">2</span>
                </a>
            </li>
            <li class="main-nav__item">
                <div class="dropdown dropdown_position_left">
                    <div class="dropdown__context" onclick="this.parentNode.classList.toggle('dropdown_active')">
                        <button class="main-nav__link">Mon compte</button>
                    </div>
                    <div class="dropdown__content">
                        <ul class="dropdown__list">
                            <li><a href="{{link.pages-myAccount}}">Paramétres</a></li>
                            <li><a href="{{link.pages-homepage}}">Me déconnecter</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>