<header class="main-header">
    <h1 class="main-header__logo">
        <a href="{{link.pages-homepage}}">
            {{> atoms-logo }}
            <span>L'agence et moi</span>
        </a>
    </h1>
</header>