<footer class="main-footer">
    <div class="main-footer__logo">
        <a href="{{link.pages-homepage}}">
            {{> atoms-logo }}
        </a>
    </div>
    <div class="main-footer__title main-footer__title_advices">
        Nos conseils
    </div>
    <ul class="main-footer__nav main-footer__nav_advices">
        <li>
            <a href="#" class="main-footer__link">Nos articles</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Nos échanges communautaires</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Espace formations</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Assistance juridique</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Foire aux questions</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Guides</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Contact</a>
        </li>
    </ul>
    <div class="main-footer__title main-footer__title_projects">
        Projets
    </div>
    <ul class="main-footer__nav main-footer__nav_projects">
        <li>
            <a href="{{link.pages-search}}" class="main-footer__link">Rechercher</a>
        </li>
        <li>
            <a href="{{link.pages-suggest}}" class="main-footer__link">Coups de coeur</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Proposer un projet</a>
        </li>
        <li>
            <a href="{{link.pages-askCreation}}" class="main-footer__link">Inscription</a>
        </li>
    </ul>
    <div class="main-footer__title main-footer__title_who">
        A propos
    </div>
    <ul class="main-footer__nav main-footer__nav_who">
        <li>
            <a href="#" class="main-footer__link">Conditions d'utilisations</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Régles</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Presses</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Carrières</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Qui sommes nous ?</a>
        </li>
        <li>
            <a href="#" class="main-footer__link">Plan du site</a>
        </li>
    </ul>
    <ul class="main-footer__socials">
        <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fab fa-pinterest"></i></a>
        </li>
    </ul>
</footer>