<div class="max-text">
    <div class="max-text__content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis hic culpa natus ducimus obcaecati, dignissimos dolorem cumque delectus facere assumenda accusantium veniam incidunt sequi laboriosam vitae sed nostrum iste. Porro, sunt?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, unde!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure veniam maxime id, reprehenderit corporis numquam nulla suscipit, eum et hic natus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quidem sapiente numquam sequi quam accusantium.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod sunt atque voluptates voluptatibus aspernatur facere incidunt, quam adipisci aliquid, inventore reiciendis voluptate, dolore velit doloribus vitae. Mollitia voluptatum consequatur sed.</p>
    </div>
</div>