<div class="picture">
    <div class="picture__content">
        <div class="picture__overlay"></div>
        <div class="picture__label"> img 0 </div>
        <img class="picture__img" src="https://placeimg.com/640/360/arch" alt="Ma maison">
        <object data="" type="">
            <button class="picture__icon picture__icon_left picture__icon_heart"> <i></i> </button>
        </object>
        <object data="" type="">
            <button class="picture__icon picture__icon_right picture__icon_trash"> <i></i> </button>
        </object>
    </div>
</div>