<div class="user">
    <img src="https://placeimg.com/400/400/people" alt="Kevin Palade" class="user__avatar">
    <span class="user__context">Dernier message le 12 avril 2018</span>
    <span class="user__name">Kévin Palade</span>
    <div class="user__plan">
        Visite le 6 décembre 2018 à 10h45
    </div>
    <div class="user__like"></div>
    <div class="user__status user__status_online"></div>
</div>