<div class="user user_big">
    <img src="https://placeimg.com/400/400/people" alt="Kevin Palade" class="user__avatar">
    <span class="user__context">Vous planifier une visite avec</span>
    <span class="user__name">Kévin Palade</span>
    <div class="user__status user__status_online"></div>
</div>