<div class="filter">
    <div class="filter__quick">
        <button class="button button_color_white button_size_small">
            Type de projet <i class="fa-chevron-down"></i>
        </button>
        <button class="button button_color_white button_size_small">
            Chambre <i class="fa-chevron-down"></i>
        </button>
        <button class="button button_color_white button_size_small">
            Taille minimum <i class="fa-chevron-down"></i>
        </button>
        <button class="button button_color_white button_size_small">
            Prix maximum <i class="fa-chevron-down"></i>
        </button>
    </div>
    <div class="filter__all">
        <button class="button button_color_white button_size_small">
            Tous les filtres <i class="fa-chevron-down"></i>
        </button>
    </div>
</div>