<div class="newsletter">
    <div class="newsletter__title ">
        {{> organisms-titling }}
    </div>
    <div class="newsletter__input">
        <label class="label label_size_big" for="labeledInputBig">
            Big Labeled input
        </label>
        <input type="text" name="labeledInputBig" id="labeledInputBig">
    </div>
    <div class="newsletter__button">
        <button class="button">
            être conseillé
        </button>
    </div>
</div>