<div class="send-message">
    <textarea class="send-message__textarea" name="" id="" cols="30" rows="2"></textarea>
    <button type="button" class="send-message__button">
        <i class="send-message__icon"></i>
    </button>
</div>