<div class="table-row">
    <div class="table-row__item table-row__item_title">
        Wash Machine Milo
    </div>
    <div class="table-row__item">
        15Kg/h
    </div>
    <div class="table-row__item table-row__item_actions">
        <button class="table-row__action table-row__action_delete"><span>Delete</span></button>
        <button class="table-row__action table-row__action_edit"><span>Edit</span></button>
    </div>
</div>