hr {
    border: none;
    border-style: none;
    border-top: 1px solid $darkRed;
    margin-top: $globalMarginBottom;
    margin-bottom: $globalMarginBottom;
    display: inline-block;
    width: 100%;
}
