<button class="button button_shadow">Button shadow default</button>
<button class="button button_shadow_1">Button shadow 1</button>
<button class="button button_shadow_2">Button shadow 2</button>
<button class="button button_color_white button_shadow">Button shadow default</button>
<button class="button button_color_white button_shadow_1">Button shadow 1</button>
<button class="button button_color_white button_shadow_2">Button shadow 2</button>
<button class="button button_color_red button_shadow">Button shadow default</button>
<button class="button button_color_red button_shadow_1">Button shadow 1</button>
<button class="button button_color_red button_shadow_2">Button shadow 2</button>