<button class="button button_hollow">Button hollow</button>
<button class="button button_color_white button_hollow">Button hollow white</button>
<button class="button button_color_red button_hollow">Button hollow red</button>
<button class="button button_size_big button_hollow">Button hollow big</button>
<button class="button button_size_small button_hollow">Button hollow small</button>