<button class="button">Button <i class="fa-arrow-right"></i></button>
<button class="button button_color_red">Button colored<i class="fa-search"></i></button>
<button class="button button_link">Button link<i class="fa-anchor"></i></button>
<button class="button button_hollow">Button hollow<i class="fa-file"></i></button>
<button class="button button_width_full">Button full<i class="fa-calendar"></i></button>
<button class="button button_size_big">Button big<i class="fa-lemon"></i></button>
<button class="button button_size_small">Button small<i class="fa-magnet"></i></button>