<div class="paginate">
    <div class="paginate__result">
        Page 2 on 16 / result 11 to 20 of 158
    </div>
    <ol class="paginate__nav">
        <li class="paginate__item">
            <button class="paginate__action paginate__action_start paginate__action_disabled"></button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action paginate__action_prev"></button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action">1</button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action paginate__action_current">2</button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action">3</button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action paginate__action_ellips"></button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action">15</button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action">16</button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action paginate__action_next"></button>
        </li>
        <li class="paginate__item">
            <button class="paginate__action paginate__action_end"></button>
        </li>
    </ol>
</div>