<div class="message message_doc message_me">
    <ul class="message__conent downloads">
        <li class="downloads__item">
            <div class="downloads__title">
                Mandat d'exclusivité entre Kévin Palade et L'agence et moi
            </div>
            <div class="downloads__infos">
                1.21Mo - PDF
            </div>
        </li>
    </ul>
</div>