{{> organisms-heroHome }}
<main class="container container_content">
    {{> organisms-titling }}
    <div class="grid grid_overflow grid_col_3 margin_bottom">
        {{> organisms-project }}
        {{> organisms-profile }}
        {{> organisms-projectDone }}
    </div>
    <div class="text_right">
        <a href="#" class="button button_color_red button_link">Voir tous vos coups de coeur <i class="fa-arrow-right"></i></a>
    </div>
    <!-- {{> organisms-titling }}
    <div class="grid grid_overflow grid_col_3 margin_bottom">
        {{> organisms-project }}
        {{> organisms-project }}
        {{> organisms-project }}
    </div>
    <div class="text_right">
        <a href="#" class="button button_color_red button_link">Voir plus de projets similaires <i class="fa-arrow-right"></i></a>
    </div> -->
</main>
{{> organisms-marketEnter }}
{{> organisms-newsletter }}
{{> organisms-footer }}
{{> organisms-cookieOverlay}}