{{> organisms-header }}
<main>
    {{> organisms-filter }}
    <div class="container">
        {{> organisms-titling }}
    </div>
    {{> organisms-projectsList }}
    <div class="container">
        {{> organisms-titling }}
    </div>
    {{> organisms-projectsList }}
    <div class="container">
        {{> organisms-titling }}
    </div>
    {{> organisms-projectsList }}
    <div class="container">
        {{> organisms-titling }}
        {{> organisms-fineTuning }}
    </div>
</main>
{{> organisms-footer }}