{{> organisms-headerLanding }}
<main class="container container_content">
    <div class="landing">
        <div class="landing__infos margin_top">
            <div class="subtitle-2">
                Prenons rendez-vous
            </div>
            <h5>Créons votre profil </h5>
            <div class="read-more read-more_active">
                <p>L’agence et moi privilégie la relation humaine dans l’accompagnement de ses clients et dans le développement de sa communauté afin que réaliser son rêve ne soit pas un cauchemar.</p>
                <p>Prenez rendez-vous avec votre agent pour créer votre compte et définir ensemble les termes du contrat de confiance.</p>
                <p>Ah oui ! Conformément aux obligations juridiques qui régissent notre profession, merci de vous munir de votre pièce d’identité, elle sera obligatoire à la validation de votre inscription.</p>
            </div>
        </div>
        <div class="landing__more">
            <div class="subtitle-2">
                Votre agent
            </div>
            {{> organisms-userSimplified }}
            <div class="read-more read-more_active">
                <p>J'ai débuté ma carrière d'agent immobilier en 1995 chez Daniel CRIBIER qui m'a recruté d'abord comme négociateur puis, très rapidement comme directeur d'agence à SAMMERON dans le département de la Seine et Marne.</p>
                <p>De Daniel, j'ai gardé cet instinct, cette passion et ce souci du "travail bien fait"​, l'immobilier est alors devenu un virus,</p>
                <p>En 1998 je décide de créer ma première agence à JOUARRE, puis tout s'enchaine, une seconde agence, puis trois, quatre, cinq et six, pour atteindre un CA de 2,4 millions en transaction.</p>
                <p>En 2010 je cède mon dernier point de vente à un collaborateur à qui j'avais transmis ce fameux virus puis je décide de mettre mon expérience au service du réseau créé par Patrick Michel KHIDER et Bernard DE CREMIERS, LAFORET.</p>
                <p>Durant quatre années, mon poste de Directeur Régional impliquera l'animation, l'assistance à l'ouverture, l'appui auprès d'agences en difficulté, la formation et l'accompagnement des agences du réseau de la région Nord-EST.</p>
                <p>Après un bref passage auprès de Jean-François MARTINOT, figure emblématique du réseau CENTURY 21, je décide de rejoindre Bernard et Patrick qui m'ont confié depuis le 4 mai, la responsabilité de la formation du réseau Stéphane PLAZA Immobilier dont ils sont les co-fondateurs.</p>
            </div>
        </div>
        <div class="landing__sidebar">
            {{> organisms-sidebarAskCreation }}
        </div>
    </div>
</main>