<article class="project">
    <a href="{{link.pages-project}}" class="project__link">
        <div class="project__user">
            {{> organisms-userSimplified }}
        </div>
        <div class="project__content">
            <img class="project__img" src="https://placeimg.com/640/360/arch" alt="Ma maison">
            <object data="" type="">
                <button class="project__like">
                    <i></i>
                </button>
            </object>
        </div>
        <div class="project__match">
            <h1 class="overline">
                Appartement à Paris
            </h1>
            <div class="subtitle-1">
                110.000€ à acheter
            </div>
            <div class="caption">
                3 visites planifiées
            </div>
        </div>
    </a>
</article>