<article class="project project_owner">
    <div class="project__content">
        <img class="project__img" src="https://placeimg.com/640/360/arch" alt="Ma maison">
    </div>
    <div class="project__match">
        <h1 class="overline">
            Appartement à Paris
        </h1>
        <div class="subtitle-1">
            110.000€ à acheter
        </div>
        <div class="caption">
            3 visites planifiées
        </div>
    </div>
    <div class="project__actions">
        <a href="{{ link.pages-project }}" class="button project__action project__action_secondary">
            Editer
        </a>
        <a href="{{ link.pages-visit }}" class="button project__action project__action_primary">
            Visites
        </a>
    </div>
</article>