<article class="project">
    <a href="{{link.pages-project}}" class="project__link">
        <div class="project__user">
            {{> organisms-userSimplified }}
        </div>
        <div class="project__content">
            <div class="project__headline">
                <span class="project__text"><small>Cherche à acheter un</small> Appartement à Marne-la-vallee, <small>budget</small> 250.000€</span>
            </div>
            <object data="" type="">
                <button class="project__like">
                    <i></i>
                </button>
            </object>
        </div>
        <div class="project__match">
            <h1 class="overline">
                Appartement à Marne-la-vallee
            </h1>
            <div class="subtitle-1">
                Cherche à acheter, budget 250.000€
            </div>
            <div class="caption">
                3 visites planifiées
            </div>
        </div>
    </a>
</article>