<div class="consumption-graph consumption-graph_ges">
    <div class="subtitle-2">
        Emission de gaz à effet de serre
    </div>
    <div class="consumption-item consumption-graph__item_size_a consumption-graph__item_color_a "> 
        <span class="consumption-item__info">&le; 50 </span>
        <span class="consumption-item__letter">A</span>
    </div>
    <div class="consumption-item consumption-graph__item_size_b consumption-graph__item_color_b">
        <span class="consumption-item__info">51 à 90 </span>
        <span class="consumption-item__letter">B</span>
    </div>
    <div class="consumption-item consumption-graph__item_size_c consumption-graph__item_color_c consumption-graph__item_selected">
        <span class="consumption-item__info">91 à 150</span> 
        <span class="consumption-item__letter">C</span>
    </div>
    <div class="consumption-item consumption-graph__item_size_d consumption-graph__item_color_d">
        <span class="consumption-item__info">151 à 230</span> 
        <span class="consumption-item__letter"> D </span>
    </div>
    <div class="consumption-item consumption-graph__item_size_e consumption-graph__item_color_e">
        <span class="consumption-item__info">231 à 330</span> 
        <span class="consumption-item__letter"> E </span>
    </div>
    <div class="consumption-item consumption-graph__item_size_f consumption-graph__item_color_f">
        <span class="consumption-item__info">331 à 450</span> 
        <span class="consumption-item__letter"> F </span>
    </div>
    <div class="consumption-item consumption-graph__item_size_g consumption-graph__item_color_g">
        <span class="consumption-item__info">&ge; 450</span> 
        <span class="consumption-item__letter"> G </span>
    </div>
</div>