.list {
    margin-bottom: $globalMarginBottom;
    &_no {
        &_style {
            list-style: none;
        }
        &_margin {
            margin-top: 0;
        }
        &_padding {
            padding: 0;
        }
    }
    &_link {
        a,
        button {
            color: $colorPrimary;
            font-weight: 500;
        }
    }
    &_big {
        @extend .subtitle;
        .list {
            // nothing here
            &__item {
                padding-bottom: 1rem;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    &__item {
        &_valid {
            color: $green;
        }
    }
}
