<ul class="table">
    <li class="table__row table__row_head">
        <ul class="table-head">
            <li class="table-head__item">Critère</li>
            <li class="table-head__item">Description</li>
            <li class="table-head__item">Poid</li>
            <li class="table-head__item">Valeur</li>
            <li class="table-head__item">Condition</li>
            <li class="table-head__item table-head__item_actions">Actions</li>
        </ul>
    </li>
    {{> organisms-criterion }}
    {{> organisms-criterion }}
    {{> organisms-criterion }}
    {{> organisms-criterion }}
</ul>