.consumption-item{
    padding: 0.5rem;
    background-color: #ddd;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: .8rem;
    width: 7rem;
    margin: .2rem 0;
    &__letter{
        float: right;
    }
    &:after, &:before{
        content: "";
        position: absolute;
        left: 100%;
        width: 1rem;
        height: 50%;
    }
    &:before{
        top: 0px;
        background: linear-gradient(to top right, #ddd 50%, transparent 51%);
    }
    &:after{
        bottom: 0px;
        background: linear-gradient(to bottom right, #ddd 50%, transparent 51%);
    }
    &_size_small{
        width: 2rem;
        .consumption-item{
            &__info{
                display: none;
            }
            &__letter{
                float: inherit;
            }
        }
    }
}
