<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background:#810D1F"></span>
    <span class="sg-label">
      #810D1F
      <br> Monarch
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background:#BF2336"></span>
    <span class="sg-label">
      #BF2336
      <br> Cardinal
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background:#000E25"></span>
    <span class="sg-label">
      #000E25
      <br> Midnight
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background:#333A45"></span>
    <span class="sg-label">
      #333A45
      <br> Bright Gray
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background:#A2C9E9"></span>
    <span class="sg-label">
      #A2C9E9
      <br> Cornflower
    </span>
  </li>
</ul>
