<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background:#23BF44"></span>
        <span class="sg-label">
            #23BF44
            <br> Mountain meadow
        </span>
    </li>
</ul>