<div class="snack snack_color_danger">
    <div class="snack__title">
        Danger
    </div>
    <div class="snack__infos">
        this is danger color
    </div>
    <button class="snack__close"></button>
</div>
<div class="snack snack_color_success">
    <div class="snack__title">
        Success
    </div>
    <div class="snack__infos">
        this is success color
    </div>
    <button class="snack__close"></button>
</div>
<div class="snack snack_color_warning">
    <div class="snack__title">
        Warning
    </div>
    <div class="snack__infos">
        This is warning color
    </div>
    <button class="snack__close"></button>
</div>


<div class="snack snack_color_info">
    <div class="snack__title">
        Info
    </div>
    <div class="snack__infos">
        This is info color
    </div>
    <button class="snack__close"></button>
</div>

<div class="snack snack_color_white">
    <div class="snack__title">
        White
    </div>
    <div class="snack__infos">
        This is white color
    </div>
    <button class="snack__close"></button>
</div>
