<div class="snack snack_color_danger">
    <div class="snack__title">
        Danger
    </div>
    <div class="snack__infos">
        this is danger color
    </div>
    <button class="snack__close"></button>
</div>