<ul class="snackbar">
    <li class="snackbar__item">
        {{> organisms-snack }}
    </li>
    <li class="snackbar__item">
        {{> organisms-snack }}
    </li>
    <li class="snackbar__item">
        {{> organisms-snack }}
    </li>
</ul>