<div class="dropdown">
    <div class="dropdown__context" onclick="this.parentNode.classList.toggle('dropdown_active')">
        <button class="button">Toggle dropdown</button>
    </div>
    <div class="dropdown__content">
        Dropdown content
    </div>
</div>