<label for="labeledInput">
    Labeled input
</label>
<input type="text" name="labeledInput" id="labeledInput">
<label class="label label_size_big" for="labeledInputBig">
    Big Labeled input
</label>
<input type="text" name="labeledInputBig" id="labeledInputBig">