<div class="main-search">
    <input class="main-search__input" type="search" name="search" id="search">
    <button class="main-search__button" type="button">
        <i class="fa fa-search"></i>
    </button>
</div>