<div class="checkbox" onclick="this.children[0].checked = !this.children[0].checked">
    <input class="checkbox__input" type="checkbox" name="checkbox" id="checkbox">
    <span class="checkbox__feedback"></span>
</div>