<div class="checkbox checkbox_radio" onclick="this.children[0].checked = true">
    <input class="checkbox__input" type="radio" name="radio" id="radio">
    <span class="checkbox__feedback"></span>
</div>
