<div class="autocomplete">
    <input class="autocomplete__input" name="autocomplete" type="text" onclick="this.parentNode.classList.add('autocomplete_active')">
    {{! <span class="autocomplete__error">Veuillez remplir ce champ </span>     }}
    <ul class="autocomplete__list" onclick="this.parentNode.classList.remove('autocomplete_active')">
        <li class="autocomplete__list-item">1</li>
        <li class="autocomplete__list-item autocomplete__list-item_active">2</li>
        <li class="autocomplete__list-item">3</li>
        <li class="autocomplete__list-item">4</li>
        <li class="autocomplete__list-item">5</li>
        <li class="autocomplete__list-item">6</li>
        <li class="autocomplete__list-item">7</li>
        <li class="autocomplete__list-item">8</li>
        <li class="autocomplete__list-item">9</li>
        <li class="autocomplete__list-item">10</li>
    </ul>
</div>

<div class="autocomplete autocomplete_small">
    <input class="autocomplete__input" name="autocomplete" type="text" onclick="this.parentNode.classList.add('autocomplete_active')">
    {{! <span class="autocomplete__error">Veuillez remplir ce champ </span> }}
    <ul class="autocomplete__list" onclick="this.parentNode.classList.remove('autocomplete_active')">
        <li class="autocomplete__list-item">1</li>
        <li class="autocomplete__list-item autocomplete__list-item_active">2</li>
        <li class="autocomplete__list-item">3</li>
        <li class="autocomplete__list-item">4</li>
        <li class="autocomplete__list-item">5</li>
        <li class="autocomplete__list-item">6</li>
        <li class="autocomplete__list-item">7</li>
        <li class="autocomplete__list-item">8</li>
        <li class="autocomplete__list-item">9</li>
        <li class="autocomplete__list-item">10</li>
    </ul>
</div>