.visit {
    display: grid;
    grid-template-areas:
    "header header header"
    "next next next"
    "actions actions actions"
    "users conversation infos";
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 0 1fr 0;
    height: 100vh;
    overflow: hidden;
    min-height: 0;
    @include scrollbar;
    @include breakpoint(tablet-landscape-up) {
        grid-template-columns: auto 1fr 0;
    }
    @include breakpoint(desktop-up) {
        grid-template-columns: auto 3fr 2fr;
    }
    @include breakpoint(big-desktop-up) {
        grid-template-columns: auto 2fr 1fr;
    }
    &__header {
        grid-area: header;
        margin-bottom: -2rem;
    }
    &__next {
        grid-area: next;
        @include breakpoint(phone-only) {
            display: none;
        }
    }
    &__users {
        grid-area: users;
        border-right: 1px solid $lightBlue;
        overflow-y: auto;
        display: none;
        @include breakpoint(tablet-landscape-up) {
            display: block;
            padding-left: 2rem;
        }
        @include breakpoint(tablet-landscape-down) {
            .user {
                width: 100%;
            }
        }
    }
    &__conversation {
        grid-area: conversation;
        max-width: 100%;
        overflow: hidden;
    }
    &__infos {
        grid-area: infos;
        padding: 2rem;
        border-left: 1px solid $lightBlue;
        overflow-y: auto;
        display: none;
        @include breakpoint(desktop-up) {
            display: block;
        }
    }
    &__actions{
        grid-area: actions;
        padding: .25rem 1rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        background: $grey;
        border-bottom: $globalBorderWidth solid white;
        @include breakpoint(desktop-up) {
            display: none;
        }
    }
    &__action{
        margin-bottom: 0;
        @extend .button;
        @extend .button_size_small;
        @extend .button_color_white;
        @extend .button_link;
        &_users{
            grid-column-start: 1;
            grid-column-end: 2;
            @include breakpoint(tablet-landscape-up){
                display: none;
            }
        }
        &_infos{
            grid-column-start: 3;
            grid-column-end: 4;
            @include breakpoint(desktop-up){
                display: none;
            }
        }
    }
    &_active_users{
        @include breakpoint(tablet-landscape-down) {
            grid-template-columns: 1fr 0 0;
        }
        .visit{
            // nothing here
            &__users{
                display: block;
            }
            &__infos{
                @include breakpoint(tablet-landscape-down){
                    display: none;
                }
            }
            &__conversation {
                @include breakpoint(tablet-landscape-down) {
                    display: none;
                }
            }
        }
    }
    &_active_infos{
        @include breakpoint(desktop-down){
            grid-template-columns: 0 1fr 1fr;
        }
        @include breakpoint(tablet-landscape-down) {
            grid-template-columns: 0 0 1fr;
        }
        .visit{
            // nothing here
            &__infos{
                @include breakpoint(desktop-down){
                    display: block;
                }
            }
            &__users{
                @include breakpoint(desktop-down){
                    display: none;
                }
            }
            &__conversation {
                @include breakpoint(tablet-landscape-down) {
                    display: none;
                }
            }
        }
    }
}