.done {
    display: inline-block;
    background: $red;
    color: white;
    @include shadow;
    &__brand {
        padding: 2rem 2rem 1rem 2rem;
        svg{
            height: 4rem;
            fill: white;
        }
    }
    &__baseline {
        padding:  0 2rem 1rem 2rem ;
    }
    &__title {
        padding: 1rem 2rem;
        background: white;
        color: $red;
        font-size: 2rem;
        font-weight: bold;
    }
    &__infos {
        padding: 1rem 2rem 2rem 2rem;

    }
}