<div class="modal modal_width_small">
    <div class="modal__box">
        <div class="modal__header">
            Etes-vous sur ?
        </div>
        <div class="modal__body">
            <p>Voulez vous supprimer:  "Projet 1" ?</p>
            <p>Cette action va :</p>
            <ul>
                <li>Supprimer définitivement le projet 1</li>
            </ul>
        </div>
        <button class="modal__close"></button>
        <div class="modal__footer">
            <div class="modal__actions">
                <button class="button button_link">Annuler</button>
                <button class="button button_color_red">Supprimer</button>
            </div>
        </div>
    </div>
</div>