<div class="modal modal_width_medium">
    <div class="modal__box">
        <div class="modal__header">
            Header modal
        </div>
        <div class="modal__body">
            <div style="height: 20vh;">Test Content</div>
            {{> @organisms-dateinput }}
            <div style="height: 80vh;">Test Content</div>
        </div>
        <button class="modal__close"></button>
        <div class="modal__footer">
            <div class="modal__actions">
                <button class="button button_link">Cancel</button>
                <button class="button loading">Create</button>
            </div>
        </div>
    </div>
</div>