<span class="tooltip tooltip_color_primary" data-tooltip="Tooltip content">tooltip primary</span>
<span class="tooltip tooltip_color_green" data-tooltip="Tooltip content">tooltip green</span>
<span class="tooltip tooltip_color_grey" data-tooltip="Tooltip content">tooltip grey</span>
<span class="tooltip tooltip_color_red" data-tooltip="Tooltip content">tooltip red</span>
<span class="tooltip tooltip_color_white" data-tooltip="Tooltip content">tooltip white</span>