<span class="tooltip tooltip_position_top" data-tooltip="Tooltip content">tooltip top</span>
<span class="tooltip tooltip_position_left" data-tooltip="Tooltip content">tooltip left</span>
<span class="tooltip tooltip_position_bottom" data-tooltip="Tooltip content">tooltip bottom</span>
<span class="tooltip tooltip_position_right" data-tooltip="Tooltip content">tooltip right</span>