.next-visit {
    background: $lightBlue;
    overflow-x: auto;
    margin: 0;
    list-style: none;
    display: block;
    white-space: nowrap;
    font-size: 0;
    padding: .25rem .5rem;
    @include breakpoint(tablet-portrait-up){
        padding: .25rem 1rem;
    }
    @include breakpoint(tablet-landscape-up){
        padding: 0.25rem 2rem;
    }
    &__item {
        display: inline-block;
        padding-right: .25rem;
        &:last-child{
            padding-right: 0;
        }
    }
    &__link {
        background: white;
        display: inline-block;
        width: 10rem;
        padding: pxToRem(5) .5rem;
        border-radius: $globalRadius;
        text-decoration: none;
        @include shadow(0);
        &:hover{
            @include shadow(1);
            width: auto;
        }
    }
    &__context {
        @extend .overline;
        margin-bottom: pxToRem(3);
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__date {
        @extend .body-2;
        margin-bottom: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}